# chronos v4 compatibility mode
--define:"chronosHandleException"

# nim-promethei-dht only supports secp256k1 keys for libp2p nodes
--define:"libp2p_pki_schemes=secp256k1"

# libp2p extensions for poseidon2 hashes
--define:"libp2p_multicodec_exts:../../../../promethei/libp2p/multicodec_exts.nim"
--define:"libp2p_multihash_exts:../../../../promethei/libp2p/multihash_exts.nim"
--define:"libp2p_contentids_exts:../../../../promethei/libp2p/contentids_exts.nim"

# confutils needs old-style case objects
--define:"nimOldCaseObjects"

# disable warning about .? operators
--warning[DotLikeOps]:off
