# enable run-time filtering in chronicles
--define:"chronicles_runtime_filtering"
--define:"chronicles_log_level=TRACE"
--define:"chronicles_sinks=textlines[dynamic],json[dynamic],textlines[dynamic]"
# enable metrics collection
--define:metrics
